*{
    font-family: 'Poppins';
}

body {
    background-image: url(/images/background-login.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.container {
    width: 100%;
    max-width: 600px;
    text-align: center;
}

.container img {
    width: 350px;
    margin-bottom: 20px;
}

#form-login {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-group {
    width: 100%;
    max-width: 300px;
    margin-bottom: 15px;
}

#form-login input {
    width: 100%;
    height: 45px;
    border-radius: 7px;
    border: none;
    box-sizing: border-box;
}

.senha-group {
    position: relative;
    width: 100%;
    max-width: 300px;
}

.senha-group input {
    width: 100%;
    padding-right: 40px; /* Espaço para o botão de senha */
}

.senha-group .senha {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    padding: 0;
    margin: 0;
}

.fazer-login {
    background-color: #4fac76;
    border: none;
    border-radius: 7px;
    width: 120px;
    height: 40px;
    color: white;
    margin-top: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.fazer-login:hover{
    transform: scale(0.94);
    background-color: #3f8a5e;
}

.links {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.links p {
    font-weight: 600;
}

.links, .youtube, .drive {
    padding: 25px;
    text-align: center;
}

.links i {
    font-size: 60px;
    transition: 0.4s;
}

.links .youtube i {
    color: red;
}

.links .drive i {
    color: #17b0ec;
}

.links .youtube i:hover {
    color: #9e1f1f;
    transform: scale(0.9);
}

.links .drive i:hover {
    color: #0f7299;
    transform: scale(0.9);
}